<p>
  <strong><%= t(".title") %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t("level") %>:</strong>
  <%= @test.level %>
</p>

  <%= render @test.questions %>
  <%= render partial: 'question/question', collection: @test.questions %>

<%= link_to t('edit'), edit_admin_test_path(test) %> |
<%= link_to t('back'), admin_test_path %>
